body {
  font-family: 'Montserrat';
}

h1, h2, h3, h4, h5, h6 {
font-family: Montserrat;
  font-weight: 900;
}


h2 {

  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-size: 1.5rem;
}

p {
  color: #8f8f8f;
}

/* Headings */

.bigheading {
  font-family: 'Montserrat'serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}


#title {
  background-color: #ff4c68;
    color: white;

}

.container-fluid {
  padding: 3% 15% 3% 15%;
}


/* Navbar */
.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: 'Ubuntu';
}



.navbar {
  padding: 0 0 4.5rem 0;
}

.nav-item {
  padding: 0 18px;
  font-size: 20px;
}


.nav-link {
  font-size: 1.2rem;

}

/* Download Buttons  */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Image */

.titleimg {
 width: 18%;
 transform: rotate(25deg);
 position: absolute;
}

/* Features */
#features {
  padding: 7% 15%;
  background-color: white;
position: relative;
z-index: 1;
}

.featurebox {

  padding: 5% 0;
}

.featext {
  padding: 0 15%;
}

.fa-4x {
  color: #ef8172;
padding-bottom: 5%
}

.fa-4x:hover{
  color: #ff4c68;
}



/* Testimonials */

#testimonials {
  padding: 7% 15%;

  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}



/* press section  */
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}




/* Call to Action */

#cta {
  background-color: #ff4c68;
  padding: 7% 15%;
  color: white;>:)
}



#footer {
  padding: 7% 15%;
}

.footericons {
  padding: 10px;
}
